<div class="container" id="disclaimer">
  <div class="row">
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Disclaimer...</strong>
      This is a flash message, click on it to make it go away. It won't come back.
    </div>
  </div>
</div>
<div class="container" id="old-content">
  <div class="row">
    <div class="alert alert-danger" role="alert">
      <strong>No longer maintained</strong>
      This post is very old, and is no longer maintained. It likely contains
      misleading information which is no longer accurate. We are maintaining
      this content for reference only.
    </div>
  </div>
</div>
